flows.json
[{"id":"e83675d08c32fefc","type":"tab","label":"Fluxo 2","disabled":false,"info":"","env":[]},{"id":"575497b58f82c22d","type":"inject","z":"e83675d08c32fefc","name":"Pulsos","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":250,"y":80,"wires":[["a6d2dabfefe31ce2"]]},{"id":"a6d2dabfefe31ce2","type":"change","z":"e83675d08c32fefc","name":"","rules":[{"t":"set","p":"valorPulsos","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[[]]},{"id":"9c96598938d0db53","type":"rpi-gpio in","z":"e83675d08c32fefc","name":"","pin":"4","intype":"up","debounce":"50","read":true,"bcm":true,"x":150,"y":200,"wires":[["86280a77ddc2a81d"]]},{"id":"86280a77ddc2a81d","type":"function","z":"e83675d08c32fefc","name":"function 2","func":"// 1. Recupera o valor e verifica se já está rodando\nlet valorPulsos = flow.get('valorPulsos') || 0;\nlet isProcessing = context.get('isProcessing') || false;\n\n// Ignora quando o botão é solto\nif (msg.payload === 1) return null; \n\nif (valorPulsos <= 0) {\n    node.status({fill:\"red\", shape:\"dot\", text:\"ERRO: Valor zerado!\"});\n    return null;\n}\n\nif (isProcessing) return null; // Trava contra duplo clique\n\ncontext.set('isProcessing', true);\n\n// --- FUNÇÕES DE TEMPO ---\n\n// Função padrão para as pausas longas de 20ms (Reset e Finalização)\nconst delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\n// Função HÍBRIDA para os Pulsos (Garante os 2ms precisos sem desconectar o Node-RED)\nconst pulsoRapido = async () => {\n    // O setTimeout(0) obriga o Node-RED a \"respirar\" e enviar o comando elétrico para o pino AGORA\n    await new Promise(resolve => setTimeout(resolve, 0)); \n    \n    // O while garante que ele espere exatos 2 milissegundos antes de ir para o próximo passo\n    let start = Date.now();\n    while(Date.now() - start < 5) {} \n};\n\n// --- EXECUÇÃO ---\n(async function() {\n    try {\n        // ETAPA 1: RESET (Saída 1)\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"Resetando Contador...\"});\n        \n        node.send([{ payload: 1 }, null, null]);\n        await delay(20);\n        node.send([{ payload: 0 }, null, null]);\n        await delay(20); \n\n        // ETAPA 2: PULSOS (Saída 2)\n        node.status({fill:\"blue\", shape:\"dot\", text:`Enviando ${valorPulsos} Pulsos (2ms)...`});\n        \n        for (let i = 1; i <= valorPulsos; i++) {\n            \n            // Transistor ON (0V no CLP)\n            node.send([null, { payload: 1 }, null]); \n            await pulsoRapido(); // Trava exatos 2ms\n            \n            // Transistor OFF (24V no CLP)\n            node.send([null, { payload: 0 }, null]); \n            await pulsoRapido(); // Trava exatos 2ms\n        }\n\n        // ETAPA 3: FINALIZAÇÃO (Saída 3)\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"Enviando Sinal Final...\"});\n        await delay(20);\n        \n        node.send([null, null, { payload: 1 }]);\n        await delay(20);\n        node.send([null, null, { payload: 0 }]);\n\n        // CONCLUSÃO\n        node.status({fill:\"green\", shape:\"dot\", text: `Sucesso: ${valorPulsos} pulsos enviados.`});\n\n    } catch (erro) {\n        node.error(\"Erro na execução: \" + erro);\n        node.status({fill:\"red\", shape:\"dot\", text:\"Falha no envio.\"});\n    } finally {\n        // Libera o botão\n        context.set('isProcessing', false);\n    }\n})();\n\nreturn null;","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["0eda71b18e9c0833"],["e9507cdf14aafe14"],["37f24ad99db041ff"]]},{"id":"37f24ad99db041ff","type":"rpi-gpio out","z":"e83675d08c32fefc","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":540,"y":320,"wires":[]},{"id":"0eda71b18e9c0833","type":"rpi-gpio out","z":"e83675d08c32fefc","name":"","pin":"17","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":540,"y":200,"wires":[]},{"id":"e9507cdf14aafe14","type":"rpi-gpio out","z":"e83675d08c32fefc","name":"","pin":"27","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":560,"y":260,"wires":[]},{"id":"401ad4da90a94f7e","type":"global-config","env":[],"modules":{"node-red-node-pi-gpio":"2.0.6"}}]